/**
* @file
* Style.css
*
* Filename:     style.css.
* Website:      http://www.ordasoft.com
* Author:       ordasoft dev team ordasoft.com.
*/

@import url(
  http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900
); @import url(
  http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,300,200
); @import url(
  http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900
); @import url(
  http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800
); @import url(
  http://fonts.googleapis.com/css?family=Dosis:400,500,300,700,600,800
); @import url(
  http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700
); @import url(
  http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700
); @import url(
  http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900
); @import url(
  http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700
); @import url(
  http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700
); @import url(
  http://fonts.googleapis.com/css?family=Quicksand:400,700,300
); @import url(
  http://fonts.googleapis.com/css?family=Oswald:400,300,700
); @import url(
  http://fonts.googleapis.com/css?family=Oxygen:400,700,300
); @import url(
  http://fonts.googleapis.com/css?family=Droid+Sans:400,700
); @import url(
  http://fonts.googleapis.com/css?family=Ubuntu+Condensed
); @import url(
  http://fonts.googleapis.com/css?family=PT+Sans:400,700
); @import url(
  http://fonts.googleapis.com/css?family=Share:400,700
); @import url(
  http://fonts.googleapis.com/css?family=Lora:400,700
); @import url(
  http://fonts.googleapis.com/css?family=Francois+One
); @import url(
  http://fonts.googleapis.com/css?family=Prosto+One
); @import url(
  http://fonts.googleapis.com/css?family=Lobster
); @import url(
  http://fonts.googleapis.com/css?family=Abel
); #content .messageLog {
  margin: 20px 0 0 0;
}
#content {
  padding: 20px;
}
* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: auto;
  color: #8e959c;
  background-color: #ffffff;
}
a,
a:hover,
a:focus {
  outline: medium none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 4px 0;
  font-weight: normal;
}
input,
textarea {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container.contBox {
  min-height: 500px;
}
#videoBox {
  overflow: hidden;
  margin: 0 0 -5px 0;
  position: relative;
}
#videoBox #tubular-player {
  width: 100% !important;
}
a {
  color: #888888;
}
a:hover {
  color: #0088cc;
}
#textBox {
  background-color: #0082c8;
}
.socIcons li {
  list-style: none;
  display: inline-block;
  margin: 5px 10px;
}
.socIcons li a i {
  font-size: 14px;
}
.logoPanel {
  margin: 23px 15px;
  float: left;
}
h1.siteSlogan {
  color: #fff;
  margin: 10px 0;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}
.mainMenu {
  float: right;
}
.mainMenu ul.menu li ul {
  display: none;
}
.mainMenu ul.menu {
  margin: 0;
  text-align: center;
}
.mainMenu ul.menu a {
  cursor: pointer;
  font-weight: bold;
  color: #92999e;
}
.mainMenu ul.menu a.active,
.mainMenu ul.menu a:hover {
  color: #111111;
}
.mainMenu ul.menu li {
  display: inline-block;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: relative;
}
.mainMenu ul.menu > li > a {
  border-radius: 0 0 0 0;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 30px 15px;
  position: relative;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.mainMenu ul.menu > li.parent {
  width: auto;
}
.mainMenu ul.menu > li.parent span.arrow {
  background: url("../images/arrow.png") no-repeat scroll 0 7px transparent;
  height: 20px;
  right: -5px;
  position: absolute;
  width: 20px;
}
.mainMenu ul.menu li a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mainMenu ul.menu li.parent ul,
.mainMenu ul.menu li ul li.parent ul {
  background-color: #fff;
  list-style: none;
  position: absolute;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  float: left;
  min-width: 170px;
  z-index: 9;
}
.mainMenu ul.menu li.parent ul {
  left: 0;
  margin: 0;
  top: 80px;
}
.mainMenu ul.menu li ul li.parent ul {
  left: 99%;
  top: -1px;
}
.mainMenu ul.menu li.parent ul li {
  margin: 0;
  padding: 0;
  clear: both;
  width: 100%;
  border-bottom: 1px solid rgba(105, 105, 105, 0.2);
}
.mainMenu ul.menu li.parent ul li a {
  display: inline-block;
  font-size: 13px;
  margin: 0 15px 0 8px;
  padding: 9px 0;
  text-align: left;
  white-space: nowrap;
  width: 90%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mainMenu ul.menu li.last.parent ul li ul {
  left: -172px;
}
.mainMenu ul.menu li:last-child ul li.parent ul {
  left: -99%;
  top: 0;
}
.navButton a.btn {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  float: right;
  margin: 15px !important;
}
.navButton a.btn:hover {
  background: none;
}
.navButton a.btn i {
  font-size: 28px;
}

/*____________________DROPDOWN ACCORDION ______________________*/
@media (max-width: 979px) {
  .mainMenu ul.menu {
    margin: 10px 0 0 0;
    float: none;
    padding: 0;
  }
  .mainMenu ul.menu li,
  .mainMenu ul.menu a {
    cursor: pointer;
  }
  .mainMenu ul.menu li {
    display: block;
    text-align: left;
    float: none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }
  .mainMenu ul.menu li a {
    display: block;
    float: none;
    padding: 0 0 0 15px;
    line-height: 28px;
  }
  .mainMenu ul.menu > li > a {
    border-bottom: 1px solid transparent;
  }
  .mainMenu ul.menu li.parent ul,
  .mainMenu ul.menu li ul li.parent ul,
  .mainMenu ul.menu li ul li ul li.parent ul {
    border: medium none;
    float: none;
    left: 0;
    list-style: none outside none;
    position: relative;
    width: auto;
    z-index: 9;
  }
  .mainMenu ul.menu li.parent ul {
    left: 0;
    margin: 0;
    top: 0;
  }
  .mainMenu ul.menu li.parent ul li a {
    border-bottom: none;
  }
  .mainMenu ul.menu > li.parent {
    display: block;
    float: none;
    width: auto;
  }
  .mainMenu ul.menu > li {
    border-top: 1px solid rgba(0,  0,  0,  0.18);
    overflow: hidden;
  }
  .mainMenu ul.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .mainMenu ul.menu ul li {
    border-top: 1px solid rgba(0,  0,  0,  0.18);
    border-bottom: none;
  }
  .mainMenu ul.menu ul li a,
  .mainMenu ul.menu ul li.parent ul li a {
    display: block;
    line-height: 25px;
    text-decoration: none;
    font-size: 14px;
  }
  .mainMenu ul.menu li.parent ul li a {
    border-top: none;
  }
  .mainMenu ul.menu li.parent ul li {
    border-bottom: medium none;
    clear: both;
  }
  span.arrow {
    background: url("../images/arrow.png") no-repeat scroll 0 10px transparent;
    height: 20px;
    margin: 0 10px;
    position: absolute;
    right: 0;
    width: 20px;
  }
  .mainMenu ul.menu li.parent > a,
  .mainMenu ul.menu li ul li.parent > a {
    -webkit-transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -ms-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
  }
  .mainMenu ul.menu li.parent ul li a {
    padding: 2px 0 2px 25px;
    float: none;
  }
  .mainMenu ul.menu li:last-child ul li.parent ul {
    left: 0 !important;
    top: -1px;
  }
}
#videoText {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#videoText .videoButton {
  text-align: center;
  margin: 10% 0;
}
#videoText .videoButton h1 {
  font-size: 500%;
  color: white;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 180%;
}
#videoText .videoButton b {
  font-weight: 900;
}
#videoText .videoButton a {
  padding: 1.2% 7%;
  border: 1px solid white;
  display: inline-block;
  color: white;
  margin: 4% 0 0 0;
}
#videoText .videoButton a:hover {
  background: rgba(255, 255, 255, 0.2);
}
/*_______ END DROPDOWN MENU _____________________________*/
.node-blog {
  border-bottom: 1px solid #d6d6d6;
  margin: 0 0 20px;
  padding: 0 0 20px;
}
.node-blog:last-child {
  border-bottom: none;
}
.node-blog h2 a {
  font-weight: lighter;
}
.node-blog .content_attributes img {
  border: 5px solid transparent;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -0-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  float: left;
  margin: 7px;
  padding: 2px;
  width: 240px;
}
.node-blog .content_attributes .field {
  display: block;
  margin: 15px 0;
  overflow: hidden;
  width: 90%;
}
.node-blog .submitted {
  color: #787878;
  margin: 20px 0 0;
}
form#user-login,
form#user-login label {
  font-size: 16px;
  font-weight: 300;
}
form#user-login label {
  display: block;
}
form#user-login .form-item {
  display: block;
  overflow: hidden;
}
form#user-pass,
form#user-login {
  margin: 40px auto;
  overflow: hidden;
  width: 240px;
}
form#user-login input[type="text"],
form#user-login input[type="password"] {
  background: none repeat scroll 0 0 #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 0 0 0 0;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #787878;
  font-size: 17px;
  height: 55px;
  padding: 0 10px;
  width: 100%;
}
form#user-login .form-item .description {
  color: #787878;
  display: none;
  font-size: 14px;
}
input[type="submit"] {
  border: medium none;
  color: #fff;
  background-color: #12abff;
  font-size: 14px;
  padding: 1% 7%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
input[type="submit"]:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -o-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.page-contact .gCont > .region.region-content {
  width: 50%;
  float: left;
}
#contactInfo {
  float: right;
  padding: 0 20px 20px 20px;
  width: 43%;
}
#contactInfo .block h2 {
  padding: 25px 0 5px 0;
  color: #222;
  font-size: 19px;
}
/*_______________________________ TEAM __________________________________*/
#ourTeam {
  margin: 10px 0 0 0;
}
.rowTeam .contTeam {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 35px 0 0 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.rowTeam:hover .contTeam {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
#ourTeam .view-content {
  text-align: center;
  margin: 20px 0;
}
.rowTeam .contTeam .desc {
  padding: 24% 0;
}
.contTeam .iconsTeam a {
  font-size: 20px;
  margin: 0 10px;
}
.rowTeam {
  position: relative;
  margin: 12px;
  max-width: 20%;
  display: inline-block;
  overflow: hidden;
}
.rowTeam h5 {
  font-weight: bold;
  padding: 5px 0;
  font-size: 12px;
}
/*_______________________________ FEATURES __________________________________*/
.featuresTitle .circle i {
  line-height: 75px;
  font-size: 20px;
}
.featuresTitle .circle {
  border-radius: 100%;
  width: 75px;
  display: inline-block;
  margin: 0 30px 0 0;
  float: left;
  height: 75px;
  background-color: #dedede;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.featuresBox {
  margin: 55px 0;
  text-align: center;
}
.itemFeatur {
  padding: 5px;
  width: 28%;
  margin: 25px 5px;
  list-style: none;
  display: inline-block;
}
.itemFeatur h4.titleFeatures {
  font-size: 20px;
  text-align: left;
  font-weight: 400;
}
.itemFeatur p.descFeatures {
  line-height: 25px;
  font-size: 13px;
  text-align: left;
  font-weight: normal;
}
.itemFeatur:hover .featuresTitle .circle {
  background-color: #0082c8;
  color: #fff;
}
.node-blog .content_links .links ul.links li a,
body.page-blog .view-content .content_links .links ul li a {
  background: #0180cd;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 6px 50px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.node-blog .content_links .links ul.links li a,
body.page-blog .view-content .content_links .links ul li a {
  display: inline-block;
}
.node-blog .content_links .links ul.links li a:hover,
body.page-blog .view-content .content_links .links ul li a:hover {
  background: #009fff;
  text-decoration: none;
}
div[class^='imageGallery'] {
  text-align: center;
  margin: 20px 0;
}
div[class^='imageGallery'] .rowImages {
  width: 100%;
  overflow: hidden;
}
div[class^='imageGallery'] .rowImages .fancybox:hover .lens h5 {
  visibility: visible;
}
div[class^='imageGallery'] .rowImages .fancybox .lens h5 {
  visibility: hidden;
  color: #fff;
  display: inline-block;
  line-height: 32px;
  font-weight: 300;
  font-size: 14px;
  margin: 31% 0;
}
div[class^='imageGallery'] .rowImages .fancybox .lens {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 9;
}
div[class^='imageGallery'] .rowImages .fancybox {
  display: inline-block;
  overflow: hidden;
  position: relative;
  color: transparent;
  line-height: 0;
  margin: 10px;
  text-decoration: none;
}
.teamImg li img,
.field-name-field-img-blog a,
.field-name-field-img-blog a img,
div[class^='imageGallery'] .rowImages .fancybox img,
div[class^='imageGallery'] .rowImages .fancybox .lens {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
div[class^='imageGallery'] .rowImages .fancybox:hover .lens {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
div[class^='imageGallery'] .rowImages .fancybox img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
div[class^='imageGallery'] .rowImages .fancybox:hover img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.imgGallery {
  margin: 20px 0 0 0;
}
.imageGallery-ng4 .rowImages .fancybox {
  max-width: 22%;
}
.ourTeam h1,
div[class^='imageGallery'] h1 {
  color: black;
  font-weight: 200;
  font-size: 36px;
}
#textBox {
  color: #fff;
  padding: 10px 0;
  margin: 0 0 10px 0;
}
.buttonBox h1.text {
  font-weight: 300;
  display: inline-block;
  font-size: 26px;
  float: left;
}
.buttonBox a.start {
  border: 1px solid;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  float: right;
  font-weight: 700;
  margin: 5px 0;
  padding: 1% 7%;
}
.buttonBox a.start:hover {
  text-decoration: none;
  background-color: #fff;
  color: #0082c8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -o-opacity: 0.6;
  opacity: 0.6;
}
.buttonBox {
  padding: 30px 0;
}
.textfield {
  margin: 0 0 15px;
  text-align: center;
}
ul.teamImg {
  margin: 50px 0 0 0;
}
.teamImg li {
  display: inline-block;
  margin: 13px;
  width: 22%;
}
h4.alt {
  font-size: 27px;
  margin: 17px 0 10px 0;
  font-weight: 900;
  color: #000;
}
.field-name-field-img-blog a img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.field-name-field-img-blog a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.field-name-field-img-blog a {
  border: 4px solid transparent;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  overflow: hidden;
  display: inline-block;
}
.field-name-field-img-blog a:hover {
  border: 4px solid #12abff;
}
#footer a {
  color: #b4b4b4;
}
#footer a:hover {
  color: #12abff;
}
#footer {
  background-color: #000000;
  margin: 20px 0 0;
  padding: 60px 0;
  text-align: center;
}
p.siteName {
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-weight: normal;
  letter-spacing: 7px;
  margin: 5px 0 20px;
  text-shadow: 1px 1px 3px #000;
}
#footer .copyright {
  width: 99%;
}
#footer .copyright a {
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#footer .footerMenu {
  overflow: hidden;
  width: 100%;
}
#footer .footerMenu ul {
  margin: 10px 0;
  text-align: center;
  overflow: hidden;
}
#footer .footerMenu ul li {
  list-style: none outside none;
  margin: 0 10px;
}
#footer .socBox {
  text-align: center;
}
#footer .socIcons {
  margin: 0 0 25px 0;
}
#contactForm .contact-form {
  width: 100%;
  margin: 0 0 85px 0;
}
#contactForm .form-item-name {
  padding: 5px;
  float: left;
  width: 48.1%;
}
#contactForm h2 {
  font-size: 36px;
  margin: 0 0 35px 0;
  font-weight: 200;
}
#contactForm .form-item-mail {
  width: 48.1%;
  padding: 5px;
}
#contactForm .form-item-subject {
  padding: 5px;
}
#contactForm .form-item-message {
  padding: 5px;
}
#contactForm #edit-submit {
  padding: 5px;
  text-transform: uppercase;
  background: none;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  padding: 1.2% 3%;
}
#contactForm #edit-submit:hover {
  background-color: #006dcc;
}
.block-contact-form-blocks input[type="text"] {
  width: 100% !important;
}
#contactForm label {
  text-align: left;
  float: left;
  font-size: 14px;
  padding: 10px 0 0 0;
}
#contactForm textarea:focus,
#contactForm input[type="text"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
form#user-pass label,
form#user-pass #edit-submit,
form.contact-form .form-item label,
form.contact-form .form-item input,
form.contact-form .form-type-textarea .form-textarea-wrapper textarea {
  font-size: 18px;
  font-weight: normal;
}
form.contact-form .form-item label {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}
form#user-pass input#edit-name,
form.contact-form .form-item input,
form.contact-form .form-type-textarea .form-textarea-wrapper textarea {
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f4f4f4;
  border-radius: 0 0 0 0;
  border: 1px solid #e6e6e6;
  display: block;
  float: left;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0 0 20px;
}
#contactForm #edit-message {
  min-height: 50px;
}
#contactForm #edit-message,
form#user-pass input#edit-name,
form.contact-form .form-item input[type="text"] {
  height: auto;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 5px;
  border-bottom: 1px solid white;
  padding: 14px;
}
form.contact-form .form-type-textarea .form-textarea-wrapper textarea {
  min-height: 200px;
  padding: 14px;
}
form.contact-form .form-item {
  display: block;
  margin: 0 10px;
  overflow: hidden;
}
form#user-pass #edit-actions {
  margin: 0;
  padding: 0;
}
.form-item.form-type-checkbox.form-item-copy input[type="checkbox"] {
  float: left;
  height: 17px;
  margin: 11px 15px 0 0;
  width: 15px;
}
.iconsrow .fa-hover {
  background-color: #ebebeb;
  float: left;
  margin: 2px;
  padding: 5px;
  width: 220px;
}
.iconsrow h4 {
  border-bottom: 1px solid #dadada;
  display: block;
  margin: 20px 0 5px;
  padding: 0 0 5px;
}
.iconsrow i {
  margin: 0 5px 0 0;
  font-size: 19px;
}
.errorBlock h1 {
  display: block;
  font-size: 90px;
  font-weight: 100;
  margin: 100px 0 60px;
}
.errorBlock h2 {
  font-size: 40px;
  font-weight: 300;
  color: #787878;
}
.errorBox p {
  font-size: 16px;
  font-weight: 100;
}
body.page-blog .view-content ul li {
  list-style: none;
  margin: 0;
}
body.page-blog .view-content ul li h2 {
  font-weight: 300;
  margin: 25px 0 10px 10px;
  text-align: left;
}
body.page-blog .view-content .content_links .links ul li {
  display: inline-block;
  margin: 10px 10px 10px 0;
}
@media (max-width: 1024px) {
  #contactForm .form-item-mail {
    width: 47.1%;
    padding: 5px;
  }
  #videoBox #tubular-player {
    max-height: 565px !important;
  }
}
@media (max-width: 980px) {
  .mainMenu {
    float: none;
  }
  #staticPanel .mainMenu ul.menu {
    margin: 0;
  }
  .contBox .node.node-blog {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  #videoText .videoButton {
    margin: 5% 0;
  }
  .lineleft,
  .lineright {
    margin: auto auto 14px auto;
  }
  .lineTitle ul li {
    display: block;
  }
  .itemFeatur {
    width: 45%;
  }
  .field-name-field-img-blog a img {
    width: 90%;
  }
  .teamImg li,
  .imageGallery-ng4 .rowImages .fancybox {
    width: 34%;
  }
  .leftSidebar > div.region {
    padding: 0 20px;
  }
  #contactForm .form-item-mail,
  #contactForm .form-item-name {
    width: 47%;
  }
  .buttonBox {
    text-align: center;
  }
  .buttonBox h1.text,
  .buttonBox a.start {
    float: none;
  }
  .imageGallery-ng4 .rowImages .fancybox {
    width: 40%;
    max-width: 40%;
  }
  #videoBox #tubular-player {
    max-height: 420px !important;
  }
}
@media (max-width: 600px) {
  .rowTeam {
    max-width: 43%;
  }
  #contactForm .form-item-mail,
  #contactForm .form-item-name {
    width: 45.7%;
  }
  #footer .footerMenu ul {
    display: inline-block;
  }
  #contactInfo,
  #page-contact .gCont > .region.region-content {
    width: auto;
    float: none;
  }
  #videoText .videoButton h1 {
    font-size: 300%;
  }
  .imageGallery-ng4 .rowImages .fancybox {
    width: 43%;
    max-width: 43%;
  }
  #videoBox #tubular-player {
    max-height: 328px !important;
  }
}
@media (max-width: 568px) {
  .rowTeam {
    max-width: 43%;
  }
  #contactForm .form-item-mail,
  #contactForm .form-item-name {
    width: auto;
  }
}
@media (max-width: 480px) {
  .rowTeam {
    max-width: 42%;
  }
  form#user-login label {
    display: block;
  }
  form#user-login input[type="text"],
  form#user-login input[type="password"] {
    width: 93%;
  }
  form#user-pass input#edit-name {
    float: none;
    width: 99%;
  }
  .itemFeatur {
    width: 90%;
  }
  #videoText .videoButton h1 {
    line-height: 85%;
  }
}
@media (max-width: 384px) {
  .rowTeam {
    max-width: 90%;
  }
  #footer .footerMenu ul.menu {
    width: 100%;
  }
  #footer .footerMenu ul.menu li {
    list-style: none outside none;
    position: relative;
    border-right: medium none;
    float: none;
  }
  #footer .footerMenu ul.menu li a {
    border-bottom: 1px solid #222;
    border-radius: 0 0 0 0;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 4px 9px;
    position: relative;
  }
  #footer .footerMenu ul.menu li:first-child a {
    border-top: 1px solid #222;
  }
  .chart {
    width: 100%;
    float: none;
  }
  .socIcons li a {
    margin: 5px;
  }
  .imageGallery-ng4 .rowImages .fancybox {
    width: 90%;
    max-width: 90%;
  }
  #videoBox #tubular-player {
    max-height: 205px !important;
  }
}
@media (max-width: 320px) {
  #videoText .videoButton h1 {
    line-height: 95%;
  }
  img.activimg {
    float: none;
  }
  .imgPercent,
  .descText,
  .charText {
    text-align: center;
    padding: 0 10px;
  }
  #videoBox #tubular-player {
    max-height: 172px !important;
  }
  .top .charText {
    width: 40%;
  }
  .socIcons li a {
    margin: 0;
  }
  .rowTeam {
    max-width: 90%;
  }
}
body.progressBars .block > h2,
body.tooltips .block > h2,
body.notifications .block > h2,
body.tabsAccordion .block > h2,
body.labelsBages .block > h2,
body.buttons .block > h2,
body.typography .block > h2,
body.responsiveLayout .block h2,
body.quickStart .block h2,
body.icons .block h2 {
  text-align: center;
  font-size: 19px;
  text-transform: uppercase;
  margin: 40px 0;
  color: #222;
  font-weight: normal;
}
body.quickStart .block-image,
body.responsiveLayout .block-image {
  padding: 30px 0;
  text-align: center;
}
body.icons h2 + .content > p {
  padding: 0 10px;
}
ul.the-icons li i {
  float: left;
  padding: 0 5px;
}
ul.the-icons li {
  color: #787878;
  float: left;
  list-style: none;
  padding: 2px 0;
  width: 190px;
}
#comments h2.title {
  font-weight: normal;
  color: #222;
  font-size: 19px;
  text-align: center;
}
div.comment {
  border: 1px solid #cac9c9;
  margin-bottom: 8px;
  padding: 12px;
}
div.comment .attribution {
  display: table;
}
.node-blog .submitted {
  display: block;
  color: #787878;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.4px;
  margin: 4px 0 10px;
  padding: 0 0 4px;
  text-transform: uppercase;
}
.node-blog .submitted p {
  float: left;
  margin: 0 10px;
}
.comment h3,
.node-blog h2 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.links .links.inline li {
  margin: 3px 0;
}
.btn:hover a,
ul.links li.node-readmore a,
ul.links li.blog_usernames_blog a {
  color: #333;
  background-color: #141414;
}
ul.links li.node-readmore,
ul.links li.blog_usernames_blog,
ul.links li[class^="comment"] {
  padding: 0;
}
ul.links li.node-readmore a,
ul.links li.blog_usernames_blog a,
ul.links li[class^="comment"] a {
  display: inline-block;
  background-color: #12abff;
  padding: 4px 12px;
  margin: 5px 0 0 0;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
}
.field-type-text-with-summary .field-items p {
  margin: 10px 0;
}
ul.links li.node-readmore a:hover,
ul.links li.blog_usernames_blog a:hover,
ul.links li[class^="comment"] a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -o-opacity: 0.8;
  opacity: 0.8;
}
.pager li > a,
.pager li > span {
  padding: 2px 7px;
  border-radius: 0 0 0 0;
  margin: 0;
}
.item-list .pager li {
  margin: 0;
  padding: 0;
}
.leftSidebar {
  padding: 14px 0 0 0;
}
.leftSidebar .region-recent-blog {
  margin: 20px 0px;
}
.node-blog {
  margin: 42px 0 0 0;
  border-bottom: 1px solid transparent !important;
}
.comment-form input[type="text"] {
  border-radius: 0 0 0 0;
  padding: 20px 5px;
  width: 100%;
}
.comment-form .form-actions.form-wrapper {
  text-align: center;
}
.comment-form label {
  font-weight: normal;
  text-transform: uppercase;
}
.comment .new,
.comment .field .field-label {
  display: none;
}
.form-textarea-wrapper textarea {
  border-radius: 0 0 0 0;
  padding: 7px 5px;
  width: 100%;
}
.leftSidebar .region-recent-comments h2,
.leftSidebar .region-recent-blog h2,
.leftSidebar .region-categories-blog h2 {
  color: #222;
  font-size: 19px;
  font-weight: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.itemRecent ul,
.listComments ul,
.listCategory ul {
  margin: 0;
  padding: 0;
}
.itemRecent li,
.listComments li,
.listCategory li {
  list-style: none;
}
.listCategory li a {
  border-bottom: 1px solid #eee;
  display: block;
  font-size: 13px;
  padding: 7px 5px;
  text-transform: uppercase;
}
.commentRow:hover,
.listCategory li a:hover {
  background-color: rgba(255, 255, 255, 0.23);
}
.commentRow {
  border-bottom: 1px solid #eee;
  padding: 7px 5px;
}
.itemRecent a,
.commentRow a {
  text-transform: uppercase;
}
.itemRecent font,
.itemRecent p {
  font-size: 12px;
}
.itemRecent li {
  margin: 10px 0 !important;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #eee;
}
.commentRow .views-field-comment-body {
  font-size: 12px;
}
.commentRow .views-field-changed {
  color: #777;
  overflow: hidden;
  font-size: 11px;
}
.commentRow .views-field-changed span {
  float: right;
}
.field-name-comment-body .field-item,
.node-blog .field-name-body .field-item {
  line-height: 26px;
}
.grippie {
  display: none;
}
.form-actions {
  padding: 0 !important;
}
.frontBox {
  padding: 0 20px !important;
}
